<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @nugget.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @nugget.answer %>
</p>

<p>
  <b>User:</b>
  <%= @nugget.user.username %>
</p>

<p>
  <b>Tags:</b>
  <%= @nugget.tags.map { |t| t.name }.join(", ") %>
</p>


<%= link_to 'Edit', edit_nugget_path(@nugget) %> |
<%= link_to 'Back', nuggets_path %>
